* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.szuloELEM {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.kartya {
    border: 3px solid black;
}

img {
    width: 100%;
}